<aside class="left-part admin-nav col-3 boder boder-light bg-white p-2">

  <div class="card">
    <div class="card-img-top p-2 bg-light fw-bold">Plats</div>
    <div class="card-body">
      <ul class="list-unstyled">
        <li>
          <a
            href="{{ path('admin_plates_index') }}"
            class="btn btn-outline-info btn-nav w-100"
            ><i class="bi bi-list-ul"></i> Liste des plats</a
          >
        </li>
        <li>
          <a
            href="{{ path('admin_plates_add') }}"
            class="btn btn-outline-success btn-nav w-100"
          >
            <i class="bi bi-plus-circle-fill "></i>
            Ajouter un plat
          </a>
        </li>
      </ul>
    </div>  
  </div>

  
  <div class="card mt-3">
    <div class="card-img-top p-2 bg-light fw-bold ">Menus</div>
      <div class="card-body">
        <ul class="list-unstyled">
          <li>
            <a
              href="{{ path('admin_menus_index') }}"
              class="btn btn-outline-info btn-nav w-100"
              ><i class="bi bi-list-ul"></i> Liste des menus </a
            >
          </li>
          <li>
            <a
              href="{{ path('admin_menus_add') }}"
              class="btn btn-outline-success btn-nav w-100"
            >
              <i class="bi bi-plus-circle-fill "></i>
              Ajouter un menu
            </a>
          </li>
        </ul>
      </div>
    </div>


  <div class="card mt-3">
  <div class="card-img-top p-2 bg-light fw-bold ">Utilisateurs</div>
    <div class="card-body">
      <ul class="list-unstyled">
        <li>
          <a
            href="{{ path('admin_plates_index') }}"
            class="btn btn-outline-info btn-nav w-100"
            ><i class="bi bi-list-ul"></i> Liste des utilisateurs</a
          >
        </li>
      </ul>
    </div>
  </div>


</aside>
