{% extends 'base.html.twig' %}

{% block stylesheets %}
  {{ encore_entry_link_tags('user')}}
  {{ encore_entry_link_tags('app')}}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('user')}}
{% endblock %}

{% block title %}Hello utilisateur!{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-2 ms-2 left-part">
            <div class="lastname">
                <h5>Nom :</h5>
                <p>{{app.user.lastname}}</p>
            </div>
            <div class="firstname">
                <h5>Prénom :</h5>
                <p>{{app.user.firstname}}</p>
            </div>
            <div class="email">
                <h5>Adresse mail :</h5>
                <p>{{app.user.email}}</p>
            </div>
            <div class="phone">
                <h5>Téléphone :</h5>
                <p>{{app.user.phone}}</p>
            </div>
        </div>
        <div class="col-12 col-md-9 right-part">Coucou</div>
    </div>
</div>

{% endblock %}
