{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="container">
        <h1>Inscription</h1>
        <div class="row">
            <div class="col">
                {{ form_start(registrationForm) }}
                <fieldset class="mb-3">
                    {{ form_row(registrationForm.lastname, {label: 'Nom'}) }}
                    {{ form_row(registrationForm.firstname, {label: 'Prénom'}) }}
                    {{ form_row(registrationForm.phone, {label: 'Téléphone'}) }}
                    
                </fieldset>
                <fieldset class="mb-3">
                {{ form_row(registrationForm.email, {label: 'Adresse email'}) }}
                {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
                
                </fieldset>
                <button type="submit" class="btn btn-warning my-3">S'inscrire</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </section>
    

    
{% endblock %}
