{% extends 'base.html.twig' %}

{% block title %}Administration des plats{%endblock %} 

{% block javascripts %}
  {{ encore_entry_script_tags('admin')}}
{% endblock %}

{% block stylesheets %}
  {{ encore_entry_link_tags('admin')}}
{% endblock %}

{% block body %}
<div class="container dashboard">
  <h1>Horaires du restaurant</h1>
  <div class="row grid">
    {% include "_partials/_adminNav.html.twig" %}
    <main class="col-9 border border-light bg-white p-2">
      
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" scope="col">Jour</th>
            <th class="text-center" scope="col">Déjeuner</th>
            <th class="text-center" scope="col">Diner</th>
            <th class="text-center" scope="col">actions</th>
            <th class="text-center" scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for date in hours %}
            <tr> 
              <td class="align-middle">{{ date.Day}}</td>
              </td>
                {% if date.Closed %}
                  <td class="align-middle text-center">Fermé</td>
                {% else %}
                    <td class="align-middle text-center">{{ date.OpeningLunch|date("H:i")}} - {{ date.ClosingLunch|date("H:i")}}</td>
                {% endif %}
                {% if date.ClosedDinner %}
                  <td class="align-middle text-center">Fermé</td>
                {% else %}
                  <td class="align-middle text-center">{{ date.OpeningDinner|date("H:i")}} - {{ date.ClosingDinner|date("H:i")}}</td>
                {% endif %}
              <td class="align-middle text-center">
                 <a class="btn btn-warning btn-action" href="{{path('admin_restaurant_edit', {Day: date.Day})}}">Modifier</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </div>
</div>
{% endblock %}