{% extends 'base.html.twig' %}

{% block title %}Administration des plats{%endblock %} 

{% block stylesheets %}
  {{ encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('admin')}}
{% endblock %}


{% block body %}
<div class="container dashboard">
  <div class="row grid">
    {% include "_partials/_adminNav.html.twig" %}
    <main class="col-9 border border-light bg-white p-2">
      <h1>Liste des images</h1>
      <div class="input-group mx-auto my-3 w-50" >
        <span class="input-group-text" id="basic-addon1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
          </svg>
        </span>
        <input type="text" class="form-control inputSearch" placeholder="Username" id="searchInput" aria-label="Username" aria-describedby="basic-addon1">
      </div>
          {% for image in images %} 

          <img src="{{asset('assets/uploads/' ~ image.imageFilename )}}" class="img-thumbnail w-25 h-25 object-fit-cover border rounded" alt="{{image.imageFilename}}">
          <a class="btn btn-warning btn-action" href="{{path('admin_gallery_edit', {id: image.id})}}">Modifier</a>
          <a class="btn btn-danger btn-action" href="{{path('admin_gallery_delete', {id: image.id})}}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce plat ?')">Supprimer</a>

          {% endfor %}
    </main>
  </div>
</div>
{% endblock %}
