{{ form_start(PlatesForm) }}
<fieldset class="mb-3">
  {{ form_row(PlatesForm.name, { label: "Nom du plat" }) }}
  {{ form_row(PlatesForm.description, { label: "description" }) }}
  {{ form_row(PlatesForm.categories, { label: "categories" }) }}
  {{ form_row(PlatesForm.menu, { label: "menu" }) }}
  {{ form_row(PlatesForm.price, { label: "prix " }) }}
  
</fieldset>
<button type="submit" label class="btn btn-warning my-3">{{button_label|default('Ajouter')}}</button>
{{ form_end(PlatesForm) }}
