{% extends 'base.html.twig' %}

{% block title %}Administration des plats{%endblock %} 

{% block stylesheets %}
  {{ encore_entry_link_tags('admin')}}
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('admin')}}
{% endblock %}


{% block body %}
<div class="container dashboard">
  <div class="row grid">
    {% include "_partials/_adminNav.html.twig" %}
    <main class="col-9 border border-light bg-white p-2">
      <h1>Liste des plats</h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center" scope="col">ID</th>
            <th class="text-center" scope="col">Nom du plat</th>
            <th class="text-center" scope="col">Description</th>
            <th class="text-center" scope="col">Catégorie</th>
            <th class="text-center" scope="col">Prix</th>
            <th class="text-center" scope="col">actions</th>
          </tr>
        </thead>
        <tbody>
          {% for plate in plates %}
            <tr>
              <td scope="row" class="align-middle">{{ plate.id}}</td>
              <td class="align-middle">{{ plate.name}}</td>
              <td class="align-middle">{{ plate.description}}</td>
              <td class="align-middle text-center">{{ plate.categories.name}}</td>
              <td class="align-middle text-end">{{ plate.price}} €</td>
              <td class="align-middle text-center">
                 <a class="btn btn-warning btn-action" href="{{path('admin_plates_edit', {id: plate.id})}}">Modifier</a>
                 <a class="btn btn-danger btn-action" href="{{path('admin_plates_delete', {id: plate.id})}}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce plat ?')">Supprimer</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </div>
</div>
{% endblock %}
